<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.oceanwing.y.plugin.account"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7"/>

    <application>
        <activity android:name="com.oceanwing.y.plugin.account.RegisterIdentifierActivity" />
        <service android:name="com.oceanwing.y.plugin.account.service.AccountService" />
    </application>
</manifest>
